# --------------------------------------------------------------------------------------------------
# Python cache
# --------------------------------------------------------------------------------------------------
__pycache__
*.pyc


# --------------------------------------------------------------------------------------------------
# Build artifacts
# --------------------------------------------------------------------------------------------------
.mypy_cache/*
prometheus_redbox_exporter.egg-info/
env/
build/
dist/


# --------------------------------------------------------------------------------------------------
# Example artifacts
# --------------------------------------------------------------------------------------------------
example/volumes/redbox/conf.yml
